In [225]:

import pandas as pd
from sklearn.model_selection import train_test_split

In [226]:
#Read the data
dataset = pd.read_csv('C://Users//saket//Downloads//corrected train set.csv')
test_dataset = pd.read_csv('C://Users//saket//Downloads//week 1 test.csv')

In [21]:
#dataset = dataset.dropna(axis=0)
#dataset
#We can't directly drop all the rows with missing data as it removes half of the important data
#So we will do imputation

,id,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure
1,1,A,84.89,material_7,material_8,9,5,14,3,3,...,12.448,17.947,17.915,11.755,14.732,15.425,14.395,15.631,682.057,0
3,3,A,101.07,material_7,material_8,9,5,13,2,6,...,12.471,16.346,18.377,10.020,15.250,15.562,16.154,17.172,826.282,0
4,4,A,188.06,material_7,material_8,9,5,9,2,8,...,10.337,17.082,19.932,12.428,16.182,12.760,13.153,16.412,579.885,0
7,7,A,177.92,material_7,material_8,9,5,4,8,8,...,10.254,16.449,20.478,12.207,15.624,16.968,15.176,17.231,684.000,1
11,11,A,175.38,material_7,material_8,9,5,7,3,2,...,11.309,16.310,18.959,11.520,14.659,15.355,15.175,15.829,792.591,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16099,16099,C,129.67,material_7,material_8,5,8,11,11,6,...,11.065,15.764,19.323,9.239,13.637,15.443,15.999,16.893,813.976,1
16100,16100,C,85.96,material_7,material_8,5,8,4,13,6,...,10.630,15.753,20.853,13.258,16.124,19.438,19.211,13.395,555.202,0
16102,16102,C,139.89,material_7,material_8,5,8,2,16,9,...,9.651,16.551,19.199,12.570,15.159,15.303,15.287,16.771,551.720,0
16105,16105,C,107.34,material_7,material_8,5,8,10,2,3,...,11.686,15.811,20.374,15.021,17.156,15.901,15.724,17.049,797.928,0
16106,16106,C,126.46,material_7,material_8,5,8,2,17,6,...,11.105,16.035,19.594,9.869,15.371,17.682,15.109,15.961,697.844,1

In [26]:
dataset.shape

(16108, 26)

In [23]:
dataset.describe()

,id,loading,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,measurement_3,measurement_4,measurement_5,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure
count,7464.000000,7464.000000,7464.000000,7464.000000,7464.000000,7464.000000,7464.000000,7464.000000,7464.00000,7464.000000,...,7464.000000,7464.000000,7464.000000,7464.000000,7464.000000,7464.000000,7464.000000,7464.000000,7464.000000,7464.000000
mean,8035.730171,127.771718,7.248660,7.043006,7.917337,7.217310,6.140809,17.785775,11.72694,17.142985,...,11.432939,16.138587,19.105288,11.784975,15.674699,16.107053,15.046034,16.515101,701.064507,0.206458
std,4645.954468,39.299700,1.722178,1.398358,4.487092,4.059677,3.263558,1.005831,1.00155,1.004128,...,0.990562,1.206062,1.640852,1.436519,1.262876,1.469516,1.673679,1.746462,111.643916,0.404790
min,1.000000,40.810000,5.000000,5.000000,0.000000,0.000000,0.000000,14.100000,8.09700,12.073000,...,7.537000,9.676000,12.461000,5.181000,11.035000,10.741000,9.158000,10.683000,287.173000,0.000000
25%,3989.250000,99.882500,5.000000,5.000000,5.000000,4.000000,4.000000,17.110000,11.04700,16.454750,...,10.756750,15.357000,17.965750,10.832000,14.842750,15.148750,13.860750,15.281750,627.045000,0.000000
50%,8035.500000,122.035000,8.000000,8.000000,7.000000,7.000000,6.000000,17.787500,11.72950,17.151000,...,11.435000,16.156000,19.186500,11.836000,15.653500,16.068000,15.031500,16.453500,700.655500,0.000000
75%,12056.250000,148.982500,9.000000,8.000000,11.000000,10.000000,8.000000,18.484000,12.41200,17.825250,...,12.096000,16.917250,20.266000,12.770500,16.454000,17.089250,16.199000,17.674000,775.046250,0.000000
max,16106.000000,385.860000,9.000000,8.000000,26.000000,27.000000,21.000000,21.090000,16.48400,21.425000,...,15.045000,21.326000,25.429000,16.824000,22.388000,22.303000,20.644000,23.164000,1107.479000,1.000000

In [27]:
dataset.isnull().sum()

id                   0
product_code         0
loading            139
attribute_0          0
attribute_1          0
attribute_2          0
attribute_3          0
measurement_0        0
measurement_1        0
measurement_2        0
measurement_3      228
measurement_4      320
measurement_5      427
measurement_6      490
measurement_7      560
measurement_8      640
measurement_9      745
measurement_10     805
measurement_11     878
measurement_12     957
measurement_13    1052
measurement_14    1084
measurement_15    1203
measurement_16    1289
measurement_17    1345
failure              0
dtype: int64

In [30]:
#dataset.mean(axis = 0)

C:\Users\saket\AppData\Local\Temp\ipykernel_308\1497914808.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  dataset.mean(axis = 0)

id                8053.500000
loading            127.654870
attribute_2          7.244226
attribute_3          7.050161
measurement_0        7.898498
measurement_1        7.229513
measurement_2        6.171840
measurement_3       17.795995
measurement_4       11.728396
measurement_5       17.135528
measurement_6       17.503114
measurement_7       11.723948
measurement_8       19.023785
measurement_9       11.429720
measurement_10      16.115783
measurement_11      19.094749
measurement_12      11.779714
measurement_13      15.689460
measurement_14      16.106270
measurement_15      15.030211
measurement_16      16.507123
measurement_17     701.457690
failure              0.212876
dtype: float64

In [227]:
# Remove rows with missing target, separate target from predictors
#No need of - dataset.dropna(axis=0, subset=['failure'], inplace=True) as we don't have any missing values in target
y = dataset.failure
dataset.drop(['failure'], axis=1, inplace=True)

In [228]:
# The dtype-'object' columns are - Product_code,attribute_0,attribute_1
# We can drop these columns as they will not have any significant effect
data = dataset.select_dtypes(exclude=['object'])
data_test = test_dataset.select_dtypes(exclude=['object'])

In [229]:
# Break off validation set from training data
data_train, data_valid, y_train, y_valid = train_test_split(data, y, train_size=0.8, test_size=0.2, random_state=0)

In [69]:
!pip install xgboost

Collecting xgboost
  Downloading xgboost-1.7.3-py3-none-win_amd64.whl (89.1 MB)
Requirement already satisfied: scipy in d:\anaconda\lib\site-packages (from xgboost) (1.7.3)
Requirement already satisfied: numpy in d:\anaconda\lib\site-packages (from xgboost) (1.21.5)
Installing collected packages: xgboost
Successfully installed xgboost-1.7.3

In [230]:
from xgboost import XGBRegressor
from sklearn.metrics import mean_absolute_error

# Function for calculating the mean absolute error
def score_dataset(data_train, data_valid, y_train, y_valid):
    model = XGBRegressor(n_estimators=1000, learning_rate=0.05, n_jobs=4)
    model.fit(data_train, y_train)
    preds = model.predict(data_valid)
    return mean_absolute_error(y_valid, preds)

In [231]:
from sklearn.impute import SimpleImputer

#imputation
my_imputer = SimpleImputer()
imputed_data_train = pd.DataFrame(my_imputer.fit_transform(data_train))
imputed_data_valid = pd.DataFrame(my_imputer.transform(data_valid))

#imputation removed column names; put them back
imputed_data_train.columns = data_train.columns
imputed_data_valid.columns = data_valid.columns

In [232]:
print("MAE:")
print(score_dataset(imputed_data_train, imputed_data_valid, y_train, y_valid))

MAE:
0.33428571130466517

In [233]:
# Preprocessed training and validation features
final_imputer = SimpleImputer(strategy='median')
final_data_train = pd.DataFrame(final_imputer.fit_transform(data_train))
final_data_valid = pd.DataFrame(final_imputer.transform(data_valid))
#imputation removed column names; put them back
final_data_train.columns = data_train.columns
final_data_valid.columns = data_valid.columns

In [234]:
# Define and fit model
model = XGBRegressor(n_estimators=1000, learning_rate=0.05, n_jobs=4)
model.fit(final_data_train, y_train)

# Get validation predictions and MAE
preds_valid = model.predict(final_data_valid)
print("MAE:")
print(mean_absolute_error(y_valid, preds_valid))

MAE:
0.3356401545133725

In [235]:

#preprocess test data
final_data_test = pd.DataFrame(final_imputer.transform(data_test))
#imputation removed column names; put them back
final_data_test.columns = data_test.columns

#get test predictions
preds_test = model.predict(final_data_test)

In [236]:
#output file
output = pd.DataFrame({'id': test_dataset.id,'failure': preds_test})

In [237]:
output

          id   failure
0      16108  0.264682
1      16109  0.223056
2      16110  0.181116
3      16111  0.321377
4      16112  0.186443
...      ...       ...
10457  26565  0.517511
10458  26566  0.149868
10459  26567  0.322627
10460  26568  0.051950
10461  26569  0.155561

[10462 rows x 2 columns]

In [238]:
#setting the column 'id' as index
output.set_index("id")

        failure
id
16108  0.264682
16109  0.223056
16110  0.181116
16111  0.321377
16112  0.186443
...         ...
26565  0.517511
26566  0.149868
26567  0.322627
26568  0.051950
26569  0.155561

[10462 rows x 1 columns]

In [239]:
output.to_csv('submission.csv', index=False)